body {
    margin:0;
    background:white;
    font-family:Arial,sans-serif;
}


.home {
    padding:20px;
}


.top {
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.top h2 {
    color:#16C784;
}


.chat {
    display:flex;
    align-items:center;
    margin-top:25px;
}


.avatar {
    width:55px;
    height:55px;
    background:#16C784;
    border-radius:50%;
    margin-right:15px;
}


.chat h3 {
    margin:0;
}


.chat p {
    margin:5px 0;
    color:gray;
}


